#form {
    display: grid;
    height: 600px;
    width: 700px;
    float: right;
    margin-top: 200px;
    margin-right: 60px;
}

div form div input.name {
    width: 50%;
}

div form div textarea {
    width: 80%;
}