@import url('https://fonts.googleapis.com/css?family=Roboto:700');

div ul li.nav-item {
    padding: 5px 20px;
}

div ul li.nav-item a{
    padding: 5px 20px;
    border-radius: 6px;
}

div ul#social li{
    padding: 5px 5px;
}

div ul#list {
    float: right;
    transition: .5;
}

div ul {
    display: flex;
    float: left;
    margin: 0;
    padding: 0;
}

div ul li {
    display: inline;
    list-style: none;
}


div ul li a{
    color: #000;
    list-style: 80px;
    text-transform: uppercase;
    transition: .5s;
    font-family: 'Roboto', sans-serif;
}

div ul li a#active,
div ul li a:hover
{
    text-decoration: none;
    color: #fff;
    background: #C33764;
    background: -webkit-linear-gradient(to right, rgb(31, 28, 211), rgb(209, 4, 141));  
    background: linear-gradient(to right,rgb(31, 28, 211), rgb(209, 4, 141)); 

}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 10px 60px;
    box-sizing: border-box;
    transition: .5s;
    z-index: 5;
}


nav.white {
    background: white;
    padding: 10px 200px;
    z-index: 4;
}

@media (min-width: 814px) and (max-width: 1055px){


    div ul#social li{
        display: none;
    }

    div ul#list li {
        display: inline-block;
        text-align: center;
    }

    div ul#list li a {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }

    div ul#list {
        /* display: flex; */
        width: 100%;
        text-align: center;
        padding: 15px 25px
    }

    nav.white{
        padding: 10px 100px;
    }

}


@media (min-width: 814px) and (max-width: 1200px){
    nav{
        height: 75px;
        padding: 0;
    } 
    div ul#list {
        width: 100%;
        text-align: center;
        padding: 15px 50px;
        
    }

    div ul li.nav-item {
        display: flex;
        width: 100%;
        margin-right: 0;
        padding: 5px 40px;
                
    }

    div ul li.nav-item a{
        text-align: center;
        width: 100%;
        
        /* padding: 5px 15px; */
        border-radius: 8px;
    }

    div ul#social li{
        display: none;
    }

    div.main-nav{
        text-align: center;
        width: 100%;
        height: 100%;
    }

    nav.white {
        display:block;
        position: fixed;
        height: 75px;
        z-index: 6;
        padding: 0;
    }
}

@media (min-width: 576px) and (max-width: 814px){
    nav{
        padding: 0;
    }

    div ul#list {
        width: 100%;
        text-align: center;
        padding: 15px 25px
    }

    div ul li.nav-item {
        display: flex;
        width: 100%;
        margin-right: 0;
        padding: 5px 40px;
                
    }

    div ul li.nav-item a{
        text-align: center;
        width: 100%;
        
        /* padding: 5px 15px; */
        border-radius: 8px;
    }

    div ul#social li{
        display: none;
    }

    div.main-nav{
        text-align: center;
        width: 100%;
        height: 100%;
    }

    nav.white {
        display:block;
        position: fixed;
        height: 75px;
        z-index: 6;
        padding: 0;
    }
}

@media(max-width: 576px){

    nav{
        padding: 0;
    }

    div ul#list {
        width: 100%;
        text-align: center;
        padding: 15px 25px
    }

    div ul li.nav-item {
        display: flex;
        width: 100%;
        padding: 0px 0px 6px 0px;
        margin-right: 0;
                
    }

    div ul li.nav-item a{
        text-align: center;
        padding: 5px 15px;
        border-radius: 3px;
    }

    div ul#social li{
        display: none;
    }

    div.main-nav{
        text-align: center;
        width: 100%;
        height: 100%;
    }

    nav.white {
        display:block;
        position: fixed;
        height: 60px;
        z-index: 6;
        padding: 0;
    }

}
