/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */

section.image {
    text-align: center;
    margin-top: 50px;
    height: 800px;
}

img.imgContent{
    text-align: center;
    /* width: 28%; */
    padding: 0 40px;
    padding-bottom: 20px;
}

section.content h1 {
    text-align: center;
    margin: 50px;
    
}

section.content p {
    text-align: center;
    margin: 50px;
    padding-bottom: 30px;
}

/* section {
    font-family: 'Montserrat', sans-serif;
} */

@media(max-width: 576px){

    section.image {
        width: 100%;
    }

    img.imgContent{
        width: 100%;
        text-align: center;
        padding-bottom: 0 40px;
    }
}